<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.wifirttscan"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.wifi.rtt" /> <!-- Permissions required for Wifi RTT. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">
        <activity
            android:name=".SetDataForASoftAP"
            android:exported="false"
            android:label="@string/title_activity_set_data_for_asoft_ap"
            android:theme="@style/CustomAppTheme.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationPermissionRequestActivity"
            android:label="@string/title_activity_location_permission_request"
            android:parentActivityName=".MainActivity"
            android:theme="@style/CustomAppTheme"></activity>
    </application>

</manifest>